<!DOCTYPE html>
<html lang="he" dir="rtl"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleSheet.css">
    <title>הרודס מתכונים | French Toast</title>
</head>
<body>
    <ul class="navBar">
        <li class="navBarItem">
            <a href="../views/html- index.html" class="navBarLink">Home</a>
        </li>
        <li class="navBarItem">
            <a href="../views/Ingredients.html" class="navBarLink">ingredients</a>
        </li>
        <li class="navBarItem">
            <a href="../views/Recipes.html" class="navBarLink">Recipes</a>
        </li>
    </ul>
    <div class="Rcontainer">
        <div class="RecipeTitle">
            <h1>טוסט מצרפת</h1></div>
        <div class="RecipeIngredients"></div>
            <h4>מצרכים:</h4>
            <ul>
                <li>5 פרוסות חלה חצויות</li>
                <li>2 ביצים</li>
                <li>חצי כוס חלב</li>
                <li>קמצוץ סוכר</li>
                <li>רבע כפית קינמון (מומלץ)</li>
                <li>ממרח שאוהבים מעל</li>
        </ul>
        <div class="RecipeMaking">
            <h4>אופן הכנה</h4>
            <ul>
                <li>מערבבים בקערה ביצים, חלב, תמצית וניל ואבקת קינמון</li>
                <li>מחממים מחבת עם כף חמאה או שמן (אש בינונית). טובלים כל חצי פרוסת חלה בבלילה משני הצדדים ומטגנים במחבת 2-3 דקות מכל צד, עד להזהבה</li>
                <li>מורחים מעל ממרח שאוהבים ומגישים</li>
            </ul>
        </div>

    </div>
</body>
</html>