<!DOCTYPE html>
<html lang="he" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styleSheet.css">
        <script defer src="https://kit.fontawesome.com/c5ba2e5682.js" crossorigin="anonymous"></script>
        <script defer src="../static/main.js" type="module"></script>
    <title>הרודס מתכונים | French Toast</title>
</head>
<body>
    <ul class="navBar">
        <li class="navBarItem">
            <a href="/home" class="navBarLink">Home</a>
        </li>
        <li class="navBarItem" >
            <a href="/ingredients" class="navBarLink">ingredients</a>
        </li>
        <li class="navBarItem">
            <a href="/recipes" class="navBarLink">Recipes</a>
        </li>
        <li class="navBarItem">
            <a href="/addrecipe" class="navBarLink">Add Recipe</a>
        </li>
    </ul>
    <div class="Rcontainer">
        <div class="RecipeTitle">
            <h1>טוסט מצרפת</h1>
        </div>
        <div class="RecipeIngredients">
            <h4>מצרכים:</h4>
            <ul style="list-style: none;">
                <li>
                    <i class="fa-solid fa-bread-slice"></i>
                    <span class="inItem">5 פרוסות חלה חצויות</span>
                </li>
                <li>
                    <i class="fa-solid fa-bread-slice"></i>
                    <span class="inItem">2 ביצים </span>
                </li>
                <li>
                    <i class="fa-solid fa-bread-slice"></i>
                    <span class="inItem">חצי כוס חלב</span>
                </li>
                <li>
                    <i class="fa-solid fa-bread-slice"></i>
                    <span class="inItem">קמצוץ סוכר</span>
                </li>
                <li>
                    <i class="fa-solid fa-bread-slice"></i>
                    <span class="inItem">רבע כפית קינמון (מומלץ)</span>
                </li>
                <li>
                    <i class="fa-solid fa-bread-slice"></i>
                    <span class="inItem">ממרח שאוהבים מעל</span>
                </li>
            </ul>
        </div>
            
        <div class="RecipeMaking">
            <h4>אופן הכנה</h4>
            <ul style="list-style: none;">
                <li>מערבבים בקערה ביצים, חלב, תמצית וניל ואבקת קינמון</li>
                <li>מחממים מחבת עם כף חמאה או שמן (אש בינונית)</li>
                <li>טובלים כל חצי פרוסת חלה בבלילה משני הצדדים ומטגנים במחבת 2-3 דקות מכל צד, עד להזהבה</li>
                <li>מורחים מעל ממרח שאוהבים ומגישים</li>
            </ul>
        </div>
        <div class="DishImage">
            <img src="../static/pictures/frenchToast.jpg" style="width:100%">
        </div>
    </div>
</body>
</html>