<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleSheet.css">
    <script defer src="../static/home.js"></script>
    <title>הרודס מתכונים</title>
    <script defer src="../static/main.js" type="module"></script>
    <script defer src="../static/signIn.js" type="module"></script>
</head>
<body>
    <ul class="navBar">
        <li class="navBarItem">
            <a href="/home" class="navBarLink">Home</a>
        </li>
        <li class="navBarItem" >
            <a href="/ingredients" class="navBarLink">ingredients</a>
        </li>
        <li class="navBarItem">
            <a href="/recipes" class="navBarLink">Recipes</a>
        </li>
        <li class="navBarItem">
            <a href="/addrecipe" class="navBarLink">Add Recipe</a>
        </li>
    </ul>
    <div class="pageContainer">
        <section>
            <h2>הרודס מתכונים</h2>
            <a href="../views/Ingredients.html">
                <button class="toIngredients"> מצא לי מתכון</button>
            </a>            
        </section>
</div>
</body>
</html>