<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleSheet.css">
    <script src="../static/JS.js"></script>
    <title>הרודס מתכונים</title>
</head>
<body>
    <ul class="navBar">
        <li class="navBarItem active">
            <a href="../views/html- index.html" class="navBarLink">Home</a>
        </li>
        <li class="navBarItem">
            <a href="../views/Ingredients.html" class="navBarLink">ingredients</a>
        </li>
        <li class="navBarItem">
            <a href="../views/Recipes.html" class="navBarLink">Recipes</a>
        </li>
    </ul>
    <div class="pageontainer">
        <div class="mainIndex" >
            <section>
                <h2>הרודס מתכונים</h2>
            </section>
        </div>
    </div>
    
</body>
</html>