<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleSheet.css">
    <title>הרודס מתכונים | מצרכים</title>
    <script defer src="../static/ingredientsJS.js"></script>
    <script defer src="../static/main.js"></script>
</head>
<body>
    <ul class="navBar">
        <li class="navBarItem">
            <a href="/" class="navBarLink">Home</a>
        </li>
        <li class="navBarItem" >
            <a href="/ingredients" class="navBarLink">ingredients</a>
        </li>
        <li class="navBarItem">
            <a href="/recipes" class="navBarLink">Recipes</a>
        </li>
        <li class="navBarItem">
            <a href="/addrecipe" class="navBarLink">Add Recipe</a>
        </li>
    </ul>
    <div class="pageContainer">
        <div class="title">
            <h1>יש לי במקרר</h1>
        </div>
        <div class="ingredientsContainer">
        </div>
        <a href="../views/Recipes.html">
            <button class="toIngredients"> מצא לי מתכון</button>
        </a>
    </div>
</body>
</html>