extends recipeLayout 
block content
    div(class="pageContainer")
        h1 :מצטערים לא מצאנו את המתכון שחיפשת
        h2 #{recipeName}
        button(onclick="document.location='/home'") חזור לעמוד הבית