extends recipeLayout 
block content
        div(class="pageContainer")
            div(class="Rcontainer")
                div(class="RecipeTitle")     
                    h1 #{recipeName}
                div(class="RecipeIngredients")
                    h4 מצרכים
                    ul(style="list-style: none;")
                        each val in ingridents
                            li(class="inItemWrapper")
                                i(class="fa-solid fa-utensils")
                                span(class="inItem") #{val}
                div(class="RecipeMaking")
                    h4 אופן הכנה
                    p #{instructions}
                div(class="DishImage")
                    img(src=dishImg, style="width:100%;")