@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
  font-family: 'Amatic SC', cursive;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(197, 186, 136); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgb(148, 139, 100); 
}

body{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.pageContainer{
  margin-top: 9vh;
  height: 91vh;
  overflow-y: auto;
  text-align: center;
}

.pageContainer h2{
  text-shadow: 2px 4px 4px rgb(0, 0, 0, 0.6);
} 

.pageContainer h1{
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.6);
} 


.ingredientsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  justify-content: space-around;
  padding: 6px;
  box-sizing: border-box;
}

.inSection{
  border-style: solid;
  padding: 8px;
  border-radius: 4px;
  width: 30%;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 40vh;
}

.inSection h3{
  text-align: center;
  font-size: 25px ;
  margin-top: 4%;
}

.inInnerSection{
  height: 72%;
  overflow-y: auto;
  text-align: right;
}

/* The ingredients */
.ingredients {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .ingredients input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .ingredients:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .ingredients input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .ingredients input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .ingredients .checkmark:after {
    right: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @font-face {
    font-family: hebrew;
    src: url(../static/fonts/journal.zip);
}


  .breakfast { grid-area: breakfast;  }
  .lunch { grid-area: lunch;  }
  .dinner { grid-area: dinner;  }

  .RecipesContainer {
    text-align: center;
    display: grid;
    grid-template-areas: 
    'breakfast'
    'lunch'
    'dinner';
  }

  .sectionContainer{
    width: 98%;
    max-width: 750px;
    border-style: solid;
    padding: 1px;
    margin: 1px;
    border-radius: 4px;
  }
  

  button{
    background-color: black;
    color: white;
    display: inline-block;
    cursor:pointer ;
  }


  .yogurt {
    background-image: url("../static/pictures/yogurt.jpg"); 
  }

  .shakshuka{
    background-image: url("../static/pictures/shakshuka.jpg");
  }

  
  .omelet{
    background-image: url("../static/pictures/omelet.jpg"); 
  }

  .frenchToast{
    background-image: url("../static/pictures/frenchToast.jpg"); 
  }

  .RecipesBackground{
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: local;
    border-radius: 3px;
    height: 150px;
    text-align: center;
    width: 95%;
    border-style: solid;
    padding: 1px;
    margin: 1px;
    align-items: middle;
    display: flex;
  }

  .Recipes{
    padding: 0;
  }

  .Otext{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 3px;
    margin:auto;
    width: 70%;
    height: 55%;
    border: 0.5px solid rgb(255, 255, 255);
    padding: 5px;
    align-items: center;

  }

  .Otext:hover{
    background-color: #ccc;
    opacity: 0.6;
    transition: o.8s;
  }

  .navBar {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 9vh;
    justify-content: left;

  }
  
  .navBarItem {
    height: 100%;
    font-size: 17px;
  }
  
  .navBarItem .navBarLink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
  }
  
  .navBarItem .index:hover:not(.active) {
    background-color: rgb(17, 17, 17, 0.4);
  }

  .navBarItem:hover{
    color: #ccc;
    opacity: 0.6;
  }
    
  
  
  .active {
    background-color: rgb(197, 186, 136);
  }

section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../static/pictures/frenchToast.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  background-attachment: local;
  -webkit-transition: background-image 0.2s ease-in-out; transition: background-image 0.2s ease-in-out;
}

section h2{
  font-size: 16vw;
  color: white;
}
section button{
  position: absolute;
  left:45%;
  bottom: 6em;
  width: 110px;
  height: 7%;
  font-size: 20px;
}


/*specific recipe page*/

.Rcontainer{
  display: grid;
  grid-template-areas: 
  'header header'
  'right1 left'
  'right2 left';
  margin: 0;
  height: 100%;
  overflow: hidden;
  margin-top: 10vh;
  height: 90vh;
  padding: 5px;
  gap: 10px;
  overflow-y: auto ;
}

.inItem{
  margin-right: 4px;
}

.RecipeTitle {
  grid-area: header;
  text-align: center;
  font-size: 4vh;
  color: black;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.6);
}

.RecipeIngredients {
  grid-area: right1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  font-size: 20px;
  padding: 8px;
}
.RecipeMaking {
  grid-area: right2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  font-size: 20px;
  border-radius: 4px;
  padding: 8px;
}
 
@media only screen and (max-width:650px) {
    .Rcontainer {
        display: grid;
        grid-template-areas: 
        'header header'
        'right1 left'
        'right2 right2';
        }
}

.DishImage {
  grid-area: left;
  size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}



